* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Cormorant SC', serif;
    font-weight: 70px; */
    
  }
  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(images/eva-darron-oCdVtGFeDC0-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
  }
  .logo {
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-radius: 20px;
    
  }
  .nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    /* animation: mymove 5s infinite;
    animation-delay: 2s; */
  }
  .nav-links li a {
    text-decoration: none;
    color: beige;
  }
  
  .active {
    position: relative;
  }
  .active::after {
    content: "";
    background: rgb(250, 246, 246);
    width: 55px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 20px;
  }
  .container {
    padding: 0 7%;
   
  }
  .list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .left-col{
    flex-basis: 70%;
  }

  .right-col{
    flex-basis: 25% ;
  }
  .left-col h1{
      color: #333;
      font-weight: 600;
      margin-bottom: 30px;
  }
  .house{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 ;
    border-top: 1px solid #ccc;
  }
   .house-img{
    flex-basis: 40%;
 }
 .house-info{
    flex-basis: 50%;
    color: #555;
 }
.house-img img{
    height: 300px;
    width: 400px;
    border-radius: 22px;
}
.house-info h2{
    font-weight:  800 ;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: #ff5361;
    font-size: 15px;
    margin: 8px 1px;
}
.house-price{
    text-align: right;
    
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}







  .footer {
    margin: 80px 0 10px;
    text-align: center;
  }
  .footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
  }
  a:hover {
    background-color: #302626;
    border-radius: 40px;
    padding: 10px;
  }
  .footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
  }
  .footer p {
    padding-bottom: 15px;
  }
  .foot:hover{
    background-color: rgb(236, 70, 70);
    border-radius: 50px;
  }
